html {
    font-family: Arial;
}

body {
    background: lightgray;
    box-sizing: border-box;
}

h2 {
    color: black;
}

p {
    color: black;
}

.note {
    font-size: 10px;
}

.overlay {
    width: 15%;
    height: auto;
    overflow-wrap: normal;
    color: #fff;
    background: #e74c3c;
    position: absolute;
    text-align: center;
    top: 10;
    left: 10;
    margin: 0;
    z-index: 1000;
    border-radius: 5px;
    padding: 10px;
}

.searchbox {
    background: #e74c3c;
}

.shake {
    text-align: center;
}

#cesiumContainer {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
}
